body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.add-a-recipe {
    margin: 0 auto;
    width: 80%;
    margin-top: 5%;
}
/*
.add-description {
    display: inline-block;
    width: 40%;
}

.add-ingredients {
    background-color: transparent;
    width: 40%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    display: inline-block;
}

input {
    margin: 5px;
    border: none;
    border-bottom: 2px solid fuchsia;
    font-size: 15px;
}

.instruction-form > input {
    width: 20%;
}

textarea {
    width: 100%;
    height: 25vh;
}

button, select, button:focus, select:focus, input:focus {
    border: none;
    outline: transparent;
}

button {
    font-size: 35px;
}

button:hover {
    background-color: #444;
    color: #fff;
}

select {
    margin: 5px;
    width: 100px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid black;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    background-color: transparent;
}

select:focus {
    outline: none;
    border: 1px solid black;
}

option {
    border: 0;
    border-bottom: 1px solid #444;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

ul {
    text-align: left;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: none;
}

ul:active {
    display: block;
  }

li {
    list-style: none;
} */

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  float: right;
  margin: 50px;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
