html, body {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    background-image: linear-gradient(-90deg, #FFFDDB, #FFFFFF);
    height: 100%;
    margin-bottom: 200px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.add-a-recipe {
    margin: 0 auto;
    width: 80%;
    margin-top: 5%;
    height: 100%;
    margin-bottom: 200px;
}

.nav {
    transform: rotate(-.5deg);
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  float: right;
  margin: 50px;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #333;
    border: 2px solid #333;
    background-color: transparent;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms;
    padding: 10px;
}

.borderless-btn, .borderless-btn:focus, .borderless-btn:active {
    border: none;
    outline: none;
}

table {
    font-size: 22px;
}
