footer {
    margin: 0 auto;
    /* margin-bottom: 10px; */
    text-align: center;
    /* bottom: 0; */
    width: 100%;
    padding: 20px;
    background-color: transparent;
    position: sticky;
}
