.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
  
  /* padding-left: 10px; */
}

.막 {
  width: 10%;
}

.nav-link {
color: #f2f2f2;
background-color: #000000;
text-align: center;
padding: 10px 10px;
text-decoration: none;
font-size: 15px;

/* these last two make the logout button in
the nav bar look like another link */
border:none;
cursor: pointer;
outline:0;
}

.nav-link:hover {
color: #f8ff90;
background-color: transparent;
text-transform: uppercase;
font-weight: 900;
}

.nav {
overflow: hidden;
text-align: center;
background-color: #000000;

}