.막 {
  width: 10%;
  -webkit-transition: 500ms;
-moz-transition: 500ms;
-ms-transition: 500ms;
-o-transition: 500ms;
transition: 500ms;
transform: rotate(2deg);
}

.막:hover {
-webkit-transition: 500ms;
-moz-transition: 500ms;
-ms-transition: 500ms;
-o-transition: 500ms;
transition: 500ms;
background-color: red;
transform: rotate(0deg);
}

.막:active {
  transform: rotate(6deg);
  -webkit-transition: 0ms;
-moz-transition: 0ms;
-ms-transition: 0ms;
-o-transition: 0ms;
transition: 0ms;
}

.nav-link {
color: #000000;
/* background-color: #000000; */
text-align: center;
padding: 10px 10px;
text-decoration: none;
font-size: 15px;
font-weight: 600;
/* these last two make the logout button in
the nav bar look like another link */
border:none;
cursor: pointer;
outline:0;
-webkit-transition: 0ms;
-moz-transition: 0ms;
-ms-transition: 0ms;
-o-transition: 0ms;
transition: 0ms;
}

.nav-link:hover {
color: #000000;
background-color: transparent;
text-transform: uppercase;
font-weight: 900;
-webkit-transition: 0ms;
-moz-transition: 0ms;
-ms-transition: 0ms;
-o-transition: 0ms;
transition: 0ms;
}

.nav {
overflow: hidden;
text-align: center;
/* background-color: #000000; */
position: relative;
width: 100%;
margin-bottom: 30px;
margin-top: 10px;
}