.about-page h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.about-page {
    width: 80%;
    margin: 0 auto;
}

.about-page p {
    font-size: 22px;
    line-height: 36px;
}

.about-page ul {
    text-align: center;
    list-style-type: none;
    font-size: 22px;
    line-height: 36px;
}

.about-page li a {
    text-decoration: none;
    color: #333;
}

.about-page li a:hover {
    color: #333;
    text-transform: uppercase;
    font-weight: bolder;
}